/*
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 250%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
	width: 100%;
}


/*main styles*/

body {
	background: url("Petey.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	font-family: 'Kite One', Verdana, sans-serif;
	font-size: 18px;
	padding: 2em 0 42em 0;
}

/*app title font*/
h1 {
	color: white;
	font-family: 'Gabriela', Georgia, serif;
	font-size: 6.854em;
	word-spacing: 2px;
}

li {
	font-size: 2.618em;
}

input[type=button] {
	cursor: pointer;
}

.apptitle {
	margin-top: 1.5em;
	text-align: center;
}

.listfields {
	margin: 6em auto 8em auto;
	width: 50%;
}

#newitem { 
	background-color: white;
	border: 2px inset gainsboro;
	color: black;
	display: block;
	font-family: 'Kite One', Verdana, sans-serif;
	font-size: 2.618em;
	margin: 0 auto;
	opacity: .9;
	padding: .25em 15px .25em 60px;
	width: 50%;
}

::-webkit-input-placeholder {
	color: gray;
}

textarea:focus, input:focus {
	outline: dimgray;
}

.addedlistcontainer {
	background-color: white;
	display: block;
	line-height: 400%;
	margin-top: 4em;
	opacity: .75;
	padding: 2em 75px;
}

.addedlist {
	padding-left: 75px;
}

.strikethrough {
	text-decoration: line-through;
	color: darkgreen;
}

.removedlistcontainer {
	background-color: gray;
	color: maroon;
	display: block;
	font-size: 75%;
	line-height: 400%;
	margin-top: 3em;
	opacity: .75;
	padding: 1.5em 75px;
}

.removedlist {
	padding-left: 75px;
}